 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
	    <img alt="me" src="{{ "/assets/img/pol.png" | prepend: site.baseurl }}" style="max-width:47%;"/>
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming </h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" style="max-width:25%;">          
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" style="max-width:25%;"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" style="max-width:25%;"/>
      <p>Proficient in C++, C, Python, C#, Java. Also a little bit of Kotlin and Haskell.</p>
    </div>
    <div class="tech">
      <h2>Technologies</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/unity/unity-original.svg" style="max-width:25%;"/>		            
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/opengl/opengl-original.svg" style="max-width:25%;"/>
      <i class="devicon-git-plain colored"></i>
      <p>I'm good at using Unity, OpenGL, Git, Docker and GNU/Linux.</p>
    </div>
    <div class="tech">
      <h2>Others</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/pytorch/pytorch-plain-wordmark.svg" style="max-width:25%;"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/numpy/numpy-original.svg" style="max-width:25%;"/>
      <p>I have knowledge of Machine Learning, Deep Learning, Internet of Things and Computer Networks.</p>
    </div>
</div>
