 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
	    <img alt="me" src="{{ "/assets/img/pol.jpeg" | prepend: site.baseurl }}" />
</div>
  <div class="user">
    <div class="tech">
      <h2>Programming languages</h2>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/cplusplus/cplusplus-original.svg" style="max-width:30%;">          
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/python/python-original-wordmark.svg" style="max-width:30%;"/>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/csharp/csharp-original.svg" style="max-width:30%;"/>
      <p>Proficient in C++, C, Python, C#, Java. Also a little bit of Kotlin and Haskell.</p>
    </div>
    <div class="tech">
      <h2>Technologies</h2>
      <i class="devicon-unity-original colored"></i>
      <i class="devicon-opengl-plain colored"></i>
      <i class="devicon-git-plain colored"></i>
      <p>I'm good at using Unity, OpenGL, Git, Docker and GNU/Linux.</p>
    </div>
    <div class="tech">
      <h2>Others</h2>
      <i class="devicon-pytorch-plain-wordmark colored"></i>
      <i class="devicon-numpy-original colored"></i>
      <p>I have knowledge of Machine Learning, Deep Learning, Internet of Things and Computer Networks.</p>
    </div>
</div>
