<div class="user-details">
  <h1> Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="Goya" src="{{ "/assets/img/goya.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Goya's nightmare </h3>
    <p>Slenderman-style game inspired in Goya's dark era paintings.Game created for the IV Game Jam Cultura Abierta.
    My work:</p>
    <ul>
      <li> Designed and implemented Saturno's (the enemy) behaviour. </li>
      <li> Genereal game design. </li>
      <li> Helped with level design. </li>
      <li> Programmed ghost walls interaction. </li>
    </ul>
    <a class="project-link" href="https://franc-porta.itch.io/goyas-nightmare">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/Shutdown.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Shutdown </h3>
    <p>Shutdown is a cyberpunk-themed Twin-Stick Shooter.
    Switch between a technologically enhanced assassin and her unstoppable mech companion to fulfill a contract. Take a personal revenge on one of the most powerful men in Penteract City, the CEO of Milibot factory. My work:</p>
    <ul>
      <li> Designed Final Boss encounter. </li>
      <li> Coordinated Final Boss implementation team. And implemented myself its AI, movement, shooting and charge skill. </li>
      <li> Implemented ability upgrades.</li>
      <li> Also worked in the engine used to create this game (see project below). </li>
    </ul>
    <a class="project-link" href="https://shutdown-github-io.vercel.app/">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/TesseractEngine.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Tesseract Engine </h3>
    <p>Fully-fledged 3D game engine created for UPC's Master in Advanced Programming for AAA Videogames. An Engine that suports the basic functionalities that any profesional Engine has. My work:</p>
    <ul>
      <li> Implemented entire collisions module by integrating Bullet library. </li>
      <li> Implemented bonwa import and skinning algorithm. </li>
      <li> Implemented Bloom in the rendering pipeline.</li>
      <li> Participated in other tasks involving the rendering pipeline and the 3D scene management. </li>
    </ul>
    <a class="project-link" href="https://github.com/PenteractStudios/Tesseract">Check it out</a>
  </div>
</div>
